{% extends "base.html" %}
{% block title %}About us{% endblock %}
{% block content %}
    <div class="about-us">
        <h2 id="glow" style="color: #86c232;"><strong>Twan Terstappen</strong></h2>
        <p>
            Hello everybody, I'm Twan Terstappen. I study Cybersecurity at the HvA. We, as a team, are creating CTF's for our project PAD.
            PAD stands for Project Agile Development. It's quite fun to make CTF challenges. I hope you enjoy our website!
        </p>
        <br>
        <br>
        <h2 id="glow" style="color: #86c232;"><strong>Antonyo Jarouj</strong></h2>
        <p>
            Hai, I'm Antonyo. I'm a cybersecurity student at the HvA highschool in Amsterdam, I'm also a member of the cyber team.
            I participated in the making of this CTF, I hope you will like it. If u have any questions or feedback, u can contact me by the e-mail you can
            find in the contact page.
        </p>
        <br>
        <br>
        <h2 id="glow" style="color: #86c232;"><strong>Ibrahim Selek</strong></h2>
        <p>
            Hello everyone, I'm Ibrahim Selek. I study Cyber Security at the HvA. In our first year, we are studying a special project.
            It's called Project Agile Development. For this project, we are creating different Capture Flag challenges in our website.
            Feel free to reach me! I would like to hear your reviews. Have fun!
        </p>
        <br>
        <br>
        <h2 id="glow" style="color: #86c232;"><strong>Luka Ciganović</strong></h2>
        <p>
            Hello everyone, my name is Luka.
            I also am a member of team Cyber and making these CTF challenges for all of you on our website. 
            if any questions or the need for feedback arise ,please feel free to reach out and i would be glad to help!
            I hope you enjoy the CTF challenges.
        </p>
    </div>
{% endblock %}


