{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% block page_title %}Contact{% endblock %}

{% block content %}
    <div class="contact">
        <h2 style="color: #86c232;">Contact</h2>
        <p>
            If you have any questions or comments about the CTF (or just want to get in touch) please do not hesitate to
            contact us. A member of the team will respond as soon as possible.
        </p>
        <br>
        <br>
        <div>
            <h2 style="color: #86c232;">
                <strong>Email:</strong>
            </h2>
            <p>
                <strong>Twan Terstappen</strong>
                <br>
                <a href="mailto:twan.terstappen@hva.nl">twan.terstappen@hva.nl</a>
            </p>
            <p>
                <strong>Antonyo Jarouj</strong>
                <br>
                <a href="mailto:antonyo.jarouj@hva.nl">antonyo.jarouj@hva.nl</a>
            </p>
            <p>
                <strong>Ibrahim Selek</strong>
                <br>
                <a href="mailto:ibrahim.selek@hva.nl">ibrahim.selek@hva.nl</a>
            </p>
            <p>
                <strong>Luka Ciganović</strong>
                <br>
                <a href="mailto:luka.ciganovic@hva.nl">luka.ciganovic@hva.nl</a>
            </p>
            <br>
            <br>
            <p>
                Find a security bug in the CTF's framework that lets you get a flag for one of the challenges after the
                tutorial without solving it? Please contact one of our team to solve the issue.
            </p>
        </div>
        <br>
        <br>
    </div>
{% endblock %}


